.queratocono-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 70px;
  }
  
  .enfermedad-title {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .info-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .image-keratoconus-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eye-keratoconus-image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  


  .causa-section {
    text-align: center;
    margin-top: 20px;
    padding: 0 15%;
  }
  
  .que-es {
    text-align: center;
  }
  
  .efectos {
    text-align: center;
  }

.sintomas-section-kerato {
    position: relative; /* Para posicionar elementos hijos */
    background-color: #f8f9fa; /* blanco */
  }
  
  .sintomas-title-kerato {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    margin: 0;
  }
  
  .sintomas-container-kerato {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  
  .sintoma-card-kerato {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 300px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .sintoma-card-kerato:first-child {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .sintoma-card-kerato:last-child {
    overflow: hidden;
    height: 400px;
    padding: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sintoma-text-kerato {
    color: #333;
    line-height: 1.5;
  }

  .sintomas-header-kerato {
    background-color: #00aeea; /* azul */
    padding: 40px 0;
  }

  
  .sintoma-nota-kerato {
    position: absolute;
    bottom: 45px;
    left: 74%;
    transform: translateX(-50%);
    background-color: rgba(224, 224, 224, 0.95);
    color: #333;
    font-size: 0.85rem;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 10;
  }

  .tratamientos-section {
    background-color: #00aeea;
    padding: 40px 0;
  }
  
  .tratamientos-header {
    height: 120px;
    text-align: center;
    color: rgb(0, 63, 84);
    font-size: 36px;
    font-weight: bold;
    background-color: white;
  }

  .tratamientos-header h2{
    padding-top: 30px;
  }
  
  .tratamientos-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 5%;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .tratamientos-imagen img {
    
    max-width: 100%;
    width: 300px;
    border-radius: 8px;
  }
  
  .tratamientos-texto {
    max-width: 400px;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
  }
  
  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
    
    .info-section, .image-keratoconus-section {
      width: 90%;
      margin-bottom: 30px;
    }
    
    .causa-section {
      padding: 0 5%;
    }

    .sintomas-content {
      gap: 20px;
      padding: 30px 10%;
    }
  
    .sintomas-texto, .sintomas-imagen {
      width: 100%;
    }

    .tratamientos-content {
      flex-direction: column;
      text-align: center;
    }
  
    .tratamientos-texto,
    .tratamientos-imagen img {
      width: 90%;
    }

    .sintoma-nota-kerato {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(224, 224, 224, 0.95);
      color: #333;
      font-size: 0.85rem;
      padding: 8px 12px;
      border-radius: 6px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      white-space: nowrap;
      z-index: 10;
    }
  

  }

 
  

  