.queratocono-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 70px;
  }
  
  .enfermedad-title {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .info-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .image-keratoconus-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eye-keratoconus-image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  


  .causa-section {
    text-align: center;
    margin-top: 20px;
    padding: 0 15%;
  }
  
  .que-es {
    text-align: center;
  }
  
  .efectos {
    text-align: center;
  }

  .sintomas-section {
    margin-top: 60px;
    background-color: #00a3d8; /* celeste */
  }
  
  .sintomas-header {
    background-color: #00a3d8;
    text-align: center;
    padding: 20px 10px;
    height: 70px;
  }

  
  .sintomas-header h2 {
    margin-top: 15px;
    color: white;
    font-size: 36px;
    font-weight: bold;
   
  }
  
  .sintomas-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
  }
  
  .sintomas-texto {
    width: 45%;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
  }
  
  .sintomas-imagen {
    width: 45%;
    display: flex;
    justify-content: center;
  }
  
  .sintomas-imagen img {
    max-width: 100%;
    height: auto;
  }
  
  .tratamientos-section {
    background-color: #00a3d8;
    padding: 40px 0;
  }
  
  .tratamientos-header {
    height: 120px;
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: bold;
    background-color: white;
  }

  .tratamientos-header h2{
    padding-top: 30px;
  }
  
  .tratamientos-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 5%;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .tratamientos-imagen img {
    
    max-width: 100%;
    width: 300px;
    border-radius: 8px;
  }
  
  .tratamientos-texto {
    max-width: 400px;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
  }
  
  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
    
    .info-section, .image-keratoconus-section {
      width: 90%;
      margin-bottom: 30px;
    }
    
    .causa-section {
      padding: 0 5%;
    }

    .sintomas-content {
      gap: 20px;
      padding: 30px 10%;
    }
  
    .sintomas-texto, .sintomas-imagen {
      width: 100%;
    }

    .tratamientos-content {
      flex-direction: column;
      text-align: center;
    }
  
    .tratamientos-texto,
    .tratamientos-imagen img {
      width: 90%;
    }
  }