.queratocono-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .enfermedad-title {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .info-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .image-keratoconus-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eye-keratoconus-image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  

  .causa-section {
    text-align: center;
    margin-top: 20px;
    padding: 0 15%;
  }
  
  .que-es {
    text-align: center;
  }
  
  .efectos {
    text-align: center;
  }

  

  .sintomas-section {
    background-color: #00AEEF; /* Azul */
    position: relative; /* Para posicionar elementos hijos */
    height: 600px; /* Altura fija, puedes ajustar */
    padding: 0;
    overflow: hidden;
  }
  
  .sintomas-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
  }
  
  .sintomas-container {
    width: 100%;
    height: 100%;
    position: relative; /* Importante para los hijos posicionados */
  }
  
  .sintoma-card {
    position: absolute;
    width: 250px; /* o lo que necesites */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sintoma-card:first-child {
    top: 30px;
    left: 30px;
  }
  
  .sintoma-card:last-child {
    bottom: 30px;
    right: 30px;
  }
  

  .sintoma-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  
  .sintoma-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .sintoma-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  

  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
    
    .info-section, .image-keratoconus-section {
      width: 90%;
      margin-bottom: 30px;
    }
    
    .causa-section {
      padding: 0 5%;
    }

    .sintomas-container {
      flex-direction: column;
      align-items: center;
    }
  }