.glaucoma-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .enfermedad-title {
    margin-top: 50px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .info-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .image-glaucoma-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .eye-glaucoma-image {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  

  .causa-section {
    text-align: center;
    margin-top: 20px;
    padding: 0 15%;
  }
  
  .que-es {
    text-align: center;
  }
  
  .efectos {
    text-align: center;
  }
  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
    
    .info-section, .image-glaucoma-section {
      width: 90%;
      margin-bottom: 30px;
    }
    
    .causa-section {
      padding: 0 5%;
    }
  }

  .sintomas-section-glaucoma {
    position: relative; /* Para posicionar elementos hijos */
    background-color: #f8f9fa; /* blanco */
  }
  
  .sintomas-title-glaucoma {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    margin: 0;
  }
  
  .sintomas-container-glaucoma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  
  .sintoma-card-glaucoma {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 300px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .sintoma-card-glaucoma:first-child {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .sintoma-card-glaucoma:last-child {
    overflow: hidden;
    height: 400px;
    padding: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sintoma-text-glaucoma {
    color: #333;
    line-height: 1.5;
  }

  .sintomas-header-glaucoma {
    background-color: #00aeea; /* azul */
    padding: 40px 0;
  }

  .sintomas-footer-glaucoma {
    background-color: #00aeea;
    height: 80px; /* o más si deseas mayor efecto visual */
  }

  .sintoma-nota-glaucoma {
    position: absolute;
    bottom: 15px;
    left: 50%;
    height: 6%;
    width: 80%;
    transform: translateX(-50%);
    background-color: rgba(224, 224, 224, 0.95);
    color: #333;
    font-size: 0.85rem;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 10;
  }




  .tratamientos-section-glaucoma {
    position: relative; /* Para posicionar elementos hijos */
    background-color: #00aeea; /* blanco */
  }
  
  .tratamientos-title-glaucoma {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #00aeea;
    margin: 0;
  }
  
  .tratamientos-container-glaucoma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  
  .tratamiento-card-glaucoma {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 1 300px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; /* blanco */
    color: #00aeea;            /* texto azul */
  }
  
  .tratamiento-card-glaucoma:last-child {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .tratamiento-card-glaucoma:first-child {
    overflow: hidden;
    height: 400px;
    padding: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tratamiento-text-glaucoma {
    color: #000000;
    line-height: 1.5;
  }

  .tratamientos-header-glaucoma {
    background-color: #ffffff; /* azul */
    padding: 40px 0;
  }

  .tratamientos-footer-glaucoma {
    background-color: #ffffff;
    height: 80px; /* o más si deseas mayor efecto visual */
  }

  .tratamiento-nota-glaucoma {
    position: absolute;
    bottom: 15px;
    left: 50%;
    height: 6%;
    width: 80%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    font-size: 0.85rem;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 10;
  }